/*@import url("//netdna.bootstrapcdn.com/bootstrap/3.3.7-rc2/css/bootstrap-glyphicons.css");*/

.logout-button {
    float: right;
    position: relative;
    background: #B1383E;
}

.back-button{
    float: left;
    position: relative;
    background: #8A893C;
}

.button-design {
    color: #fff;
    background: #8A893C;
}

.change-margin {
    margin-bottom:20px;
}

.change-margin-top {
    margin-top:20px;
}

.change-margin-2{
    margin-bottom: 40px;
}

.remove-button{
    background: #B1383E;
}
input.btn.btn-danger.list-button {
    width: 100%;
    padding: 10px 18px;
}
.blue-bg {
    background: #337ab7 !important;
    border-color: #337ab7 !important;
}

.blue-bg:hover {
    background:#0056b3 !important;
    border-color:#0056b3 !important;
}

.center-headline {
    text-align: end;
    position: relative;
}

.center-txt {
    text-align: center;
    position: relative;
}

.form-error-field {
    font-size: 12px;
    color: #d51715;
}

.btn-submit {
    background: #0c2d5a;
    color: #fff;
    font-weight: 600;
}

.section-title {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
    border-bottom-style: inset;
    width: 100%;
}

.section-title-2 {
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom-style: inset;
    width: 100%;
}

.section-title-3 {
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
}

.section-title-main {
    font-size: 25px;
    margin-bottom: 30px;
}

.btn-design {
    background-color: #8A893C;
    color: #fff;
}

.header-style {
    padding: 20px;
    margin-bottom: 30px;
    background: url(https://i.pinimg.com/originals/15/9d/ac/159dac10a76b0b41907a3cb0b30c7879.jpg) no-repeat center center fixed;
    opacity:0.9;
    background-size: 100%;
}

.btn-position {
    font-size:40px;
    float: right;
    background: #2B435A;
}

.buttons-museum {
    padding:20px;
    background: url(https://i.pinimg.com/originals/15/9d/ac/159dac10a76b0b41907a3cb0b30c7879.jpg) no-repeat center center fixed;
    opacity:0.9;
    background-size: 100%;
}

.design-image {
    border-radius: 8px;
    border: 1px solid #ddd;
    height:auto;
    width:calc(100% + 16px);
}

.design-image-columns {
    height:150px;
    weight:150px;
}

.success-message {
    font-size: 16px;
    font-weight: bold;
    color: #7D4971;
    padding: 6px 0;
}

.fixed {
    z-index:1;
    overflow: hidden;
    position: fixed;
    top:0; left:0;
    width: 100%; }

.btn-position-float-right {
    float: right;
    margin-bottom: 10px;
}

.btn-position-float-right-2 {
    float: right;
    margin-bottom: 10px;
    margin-right: 40px;
}

.remove-button-item {
    font-size: 16px;
    font-weight: bold;
    color: #d51715;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index:9999;
}

.card-text-extra{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.thumbnail {
    position: relative;
    width: 240px;
    height: 240px;
    overflow: hidden;
}
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

display-block{
    display: block;
}

.images-custom-coordinates {
    max-width:1000px;
}

.images-custom .thumbnail {
    padding: 0px !important;
    width: 100%;
    margin: 0px !important;
    border-radius: 0px;
    border: none !important;
}

.images-custom .card button {
    padding: 0px;
    border: none !important;
    border-bottom: 1px solid #ebebeb;
}

.images-custom img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0px !important;
}

.images-custom input.btn-link.text-danger {
    position: absolute;
    font-size: 20px;
    border: none;
    width: 30px;
    right: -1px;
    top: -1px;
    height: 30px;
    line-height: 23px;
    background: #dd6561;
    color: #fff !important;
    z-index: 999;
    border-radius: 0 5px 0px;
}
.images-custom input.btn-link.text-danger:hover {
    text-decoration: none !important;
    background: #bd2130;
}
.uploadItem {
    position: relative;
    display: inline-block;
}

.uploadItem input.btn-link.text-danger.deleteIcon {
    position: absolute;
    top: 0px;
    position: absolute;
    font-size: 20px;
    border: none;
    width: 30px;
    right: -1px;
    top: 0px;
    height: 30px;
    transition: 0.3s;
    line-height: 23px;
    background: #dd6561;
    color: #fff !important;
    z-index: 999;
    border-radius: 0px 0px 0px 5px;
}

.uploadItem input.btn-link.text-danger.deleteIcon:hover {
    text-decoration: none !important;
    background: #bd2130;
}

div#videourlitems > input {
    margin-bottom: 15px;
}
.images-custom .card-body {
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

p.card-text.card-text-extra {
    margin-top: 5px;
    font-size: 15px;
}

input.btn-link.text-danger.deleteAudio {
    background: #dd6561;
    border-radius: 50px;
    color: #fff !important;
    width: 25px;
    height: 25px;
}

input.btn-link.text-danger.deleteAudio:hover{
    text-decoration: none !important;
    background: #bd2130;
}
.btn-secondary:hover {
    color: #fff !important;
}
body section:first-of-type {
    padding-bottom: 30px;
}
div#textitems {
    margin-bottom: 20px;
}
select#selection_audio, select#selection_video {
    padding: 12px 18px;
    border-radius: 3px;
}

select#text_selection, select#text_selection {
    padding: 12px 18px;
    border-radius: 3px;
}

.tooltip > .tooltip-inner{
    color:white;
    min-width: 400px;
    background-color: #0056b3 !important;
    word-wrap: break-word;
    white-space: pre-line;
    text-align: left !important;
}