@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    background-color: #ffffff;
    margin: 5% auto;
    opacity: 0.9;
}

.form-signin-heading {
    text-align: center;
    margin-bottom: 30px;
    color: #0c2d5a;
}

.success-message {
    font-size: 16px;
    font-weight: bold;
    color: #7D4971;
    padding: 6px 0;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-error-credential {
    font-size: 12px;
    color: #d51715;
}

.login-block {
    background: url(https://i.pinimg.com/originals/15/9d/ac/159dac10a76b0b41907a3cb0b30c7879.jpg) no-repeat center center fixed;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #a8adc6;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.btn-login-register {
    background: #2c5c7c;
    color: #fff;
    font-weight: 600;
}

.text-login-register {
    font-size: 16px;
    color: #0c2d5a;
    padding: 6px 0;
}

.center-button {
    text-align: center;
    margin-top: 15px;
}

